* {
    margin: 0;
    border: 0;
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #361B0C;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

.container h2{
    text-align: center;
    margin-bottom: 30px;
    color: #1f2937;
    font-size: 28px;
}

.grupo {
    position: relative;
    margin-bottom: 25px;
}

.grupo input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.grupo label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    pointer-events: none;
    transition: 0.3s;
}

.grupo input:focus,
.grupo input:not(:placeholder-shown) {
    border-color: #4f46e5;
}

.grupo input:focus ~ label,
.grupo input:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 12px;
    padding: 0 5px;
    background: #ffffff;
    color: #4f46e5;
}

.esqueceu-senha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
    color: #4b5563;
}

.esqueceu-senha a {
    color: #4f46e5;
    text-decoration: none;
}

.esqueceu-senha a:hover {
    text-decoration: underline;
}

.botao-login {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.botao-login:hover {
    background: #4338ca;
}

.cadastrar {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #4b5563;
}

.cadastrar a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: bold;
}

.cadastrar a:hover {
    text-decoration: underline;
}